@charset "UTF-8";
/* CSS Document for ... */
/* Prepared by Heather Smith */

* 
	{ 
	    margin: 0; 
	    padding: 0; 
	}
	
img 	
	{
	    border: 0px;#content_inner2
        	{
            padding:5px;
        	margin:20px;
        	/*height:300px;*/
        	border: 2px solid #cdcdcc;
        	}
	}

body 
	{ 
	    font-size: 12px; 
	    font-family:"Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	    color: #303030;
	   	background-image: url(../images/bkgd.jpg);
		background-color: #022e5d;
		height:847px;
/*      width: 100%;*/
		background-repeat: repeat-x;
	}	

    /*____________________________LINE UP CHOICE SELECT BOXES_____________________*/
       #hide_div1{

           display:none;
       }

       #hide_div2{

           display:none;
       }

       #mini_descript{
           margin-top:1px;
           float:left;
           position:absolute;
           font-weight:bold;
       }

       #descript{
           margin-top:1px;
           position:absolute;
           float:left;
           margin-left:125px;
       }

       #div3{
       /*   float:left;*/
           margin-top:1px;
           margin-left:400px;
       }

       #div4{
           margin-left:125px;
           margin-top:-125px;
           position:absolute;
       }
       
       
        #div5{
              margin-left:125px;
              margin-top:-40px;
              position:absolute;
          }


/* _____________________________ STRUCTURAL LAYOUT _____________________________ */

#container
	{
	width: 1100px;
	margin-right:auto;
	margin-left:auto;
	padding:0px;
	text-align:left;
	}


#logo
    {
	float: left;
    }
    
#header
	{
	height: 154px;
	margin-top: 37px;
	}
	
.read_story
	{
	margin-top: 10px;
	}


    
#right_nav
	{
	background-image: url(../images/right_nav.jpg);
	background-repeat: no-repeat;
	height: 154px;
	width: 12px;
	float: right;
	}
	
#sources_outer
	{
	float: left;
	width: 263px;
	background-color: #99a8b5;
	padding: 5px;
	margin-top: 20px;
	}
	
#sources_inner
	{
	float: left;
	width: 220px;
	background-color: #99a8b5;
	padding: 20px;
	border: 1px solid #818e99;
	}	
	
#content_outer
	{
	background-color: #FFF;
	padding: 5px;
	width: 860px;
	float: right;
	margin-right: 13px;
	margin-top: 20px;
	}

#option_picker{
    padding:10px;
}

	
#content_inner
	{
	padding: 20px;
	border: 1px solid #cdcdcc;
	}

    #content_inner2
    	{
        padding:25px;
    	margin:20px;
    	/*height:300px;*/
    	border: 2px solid #cdcdcc;
    	}

	
table tr td
	{
	font-size: 11px;
	border: 1px solid #aaa;
	padding: 5px;
	}
	
.table_accent
	{
	margin-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-style: italic;
	color: #396088;
	}
	
#footer
	{
	color: #95b1cd;
	font-size: 10px;
	margin: 20px 15px 20px 0px;
	float: right;
	}
    
#nsf
    {
    font-size: 10px;
    }

/* _____________________________ LINKS _____________________________*/

a:link
	{
	color: #670001;
	text-decoration: none;
	}
	
a:visited
	{
	color: #670001;
	text-decoration: none;
	}	
	
a:hover, a:active
	{
	color: #95c9ff;
	}	
	
a.hover:hover
	{
	position: relative;
	top: 1px;
	}
	
    span.hide_link
    	{color: #283A90; text-decoration: underline;}

    span.hide_link:hover
    	{color: #0000FF; cursor: pointer;}
	
/* _____________________________ LISTS _____________________________*/

ul#global_nav
	{
	float: left;
	list-style-type: none;
    /*font-family:Georgia,"Times New Roman",Times,serif;
        font-size:"18px";*/
	}

ul#global_nav li
	{
	float: left;
	background-image: url(../images/light_nav_bkgd.jpg);
	background-repeat: no-repeat;
	height:154px;
	width:80px;
	padding: 40px 20px 0px 20px;
	text-align: center;
	}
	
ul#global_nav li#active
	{
	float: left;
	background-image: url(../images/dark_nav_bkgd.jpg);
	background-repeat: no-repeat;
	}	
	
ul#global_nav li a:link, ul#global_nav li a:visited
	{
	color: #FFF;
	font-size: 13px;
	text-shadow:2px 2px 0 rgba(71, 69, 74, 0.7);
	
	}		
	
ul#global_nav li a:hover, ul#global_nav li a:active
	{
	color: #bfdcff;
	
	}		
		

/* _____________________________ TYPOGRAPHY _____________________________ */


h1, h2, h3, h4, h5, h6, blockquote 
    {
        margin-bottom:24px; 
        font-family:Georgia,"Times New Roman",Times,serif;
    }

/*h2
    {
        font-size: 14px;
    }*/


p 
    {
        margin-bottom:24px;
    }

.bold
    {
        font-weight: bold;
    }

.italic
    {
        font-style: oblique;
    }
    
.shadow
    {
        text-shadow:2px 2px 0 rgba(71, 69, 74, 0.7);
    }


/* _____________________________ GENERAL _____________________________ */

.floatLeft
	{
	    float:left;
	    display: inline;
	}

.floatRight
	{
	    float:right;
	    display: inline;
	}

.floatClear
	{
	    clear: both;
	}

.paddingLarge
	{
	    padding: 15px;
	}

.paddingSmall
	{
	    padding: 8px;
	}	

.imageLeft
	{
	    margin: 0px 10px 5px 0px;
	}

   
    
    .myButton {
    	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    	background-color:#79bbff;
    	-moz-border-radius:6px;
    	-webkit-border-radius:6px;
    	border-radius:6px;
    	border:1px solid #84bbf3;
    	display:inline-block;
    	color:#ffffff;
    	font-family:Georgia;
    	font-size:13px;
    	font-weight:bold;
    	padding:6px 24px;
    	text-decoration:none;
    	text-shadow:1px 1px 0px #528ecc;
    }.myButton:hover {
    	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    	background-color:#378de5;
    }.myButton:active {
    	position:relative;
    	top:1px;
    }
    
    #note{
        font-size:10px;
    }